<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/introHCI.css" rel="stylesheet">

    <link href="css/dashboard.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="dashboardBody" class="wrapper">
  <!-- this is a comment in HTML -->
  <div class="container">
    
    <h1 class="pageTitle">Dashboard</h1>
    <button class="btn btn-primary btn-block">My Profiles</button>
    <button class="btn btn-primary btn-block">My Matches</button>


    <style type="text/css">
  .tftable {font-size:12px;color:#fbfbfb;width:100%;border-width: 1px;border-color: #686767;border-collapse: collapse;}
  .tftable th {font-size:12px;background-color:#171515;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;text-align:left;}
  .tftable tr {background-color:#2f2f2f;}
  .tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #686767;}
  .tftable tr:hover {background-color:#171515;}
  </style>

  <h3 class="pageTitle">Your Matches Are...</h3>
  <table class="tftable" border="1">
  <tr><th><center>My name is...</center><th><center>I'm free to work out at...</center></th></tr>
  <tr><td>John Doe</td><td>3pm @ REMAC</td></tr>
  <tr><td>Nikhil Rashinkar</td><td>5am @ REMAC</td></tr>
  <tr><td>Austin Tran</td><td>9pm @ MAIN GYM</td></tr>
  <tr><td>Jane Doe</td><td>5:45 @ CANYON VIEW</td></tr>
  <tr><td>Bill Gates</td><td>5:45 @ CANYON VIEW</td></tr>
  <tr><td>Steve Jobs</td><td>5:45 @ REMAC</td></tr>
  <tr><td>Steve Wozniak</td><td>5:45 @ 24 HOUR FITNESS</td></tr>
  <tr><td>Paul Allen</td><td>5:45 @ REMAC</td></tr>
  </table>

    <br>
    <a href="/">
      <button class="btn btn-primary btn-block">Log Out</button>
    <a>
    <div class="row">
       
    </div>
  </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
