<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/css/register.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body id="registerBody" class="wrapper">
	<!-- this is a comment in HTML -->
  <div class="titleBackground">
    <h3 align="center" class="pageTitle">Create New User</h3>
  </div>
  <div class="container">
  <form role="form" action="/newUser" method="get">
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label class="infolabel" for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Enter your full name" name="name">
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
            <div class="form-group">
              <label class="infolabel" for="age">Age:</label>
              <input type="text" class="form-control" id="age" placeholder="" name="age">
            </div>

        </div>
        <div class="col-xs-9">
          <label for="gender" class="control-label input-group infolabel">Gender:</label>
          <div class="btn-group btn-group-justified" data-toggle="buttons">
            <label class="btn btn-default">
              <input type="radio" name="gender" value="male">Male
            </label>
            <label class="btn btn-default">
              <input type="radio" name="gender" value="female">Female
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <label class="infolabel" for="contact">Contact:</label>
              <input type="text" class="form-control" id="contact" placeholder="ex. (xxx) xxx-xxxx" name="contact">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
              <label class="infolabel" for="newusername">Username:</label>
              <input type="username" class="form-control" id="newusername" placeholder="Enter username" name="username">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
              <label class="infolabel" for="newpassword">Password:</label>
              <input type="password" class="form-control" id="newpassword" placeholder="Enter password" name="password">
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
              <label class="infolabel" for="newpassword2">Re-enter Password:</label>
              <input type="password" class="form-control" id="newpassword2" placeholder="Re-enter password" name="password2">
            </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12"><button id="backButton" class="btn btn-primary"><span aria-hidden="true">&larr;</span> Back</button><span class="pull-right"><button type="submit" class="btn btn-primary" pull-right>Create User <span aria-hidden="true">&rarr;</span></button></span></div>
      </div>
  </form>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/register.js"></script>

  </body>
</html>
