body {
    background-color: #ecf0f1;
}

.pageTitle {
	color: #ffffff;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titleBackground {
	background-color: #1abc9c;
}

.pager {
	margin-top: 10px;
	margin-bottom: 10px;
}

.modalLabel {
    font-size: 13px;
}

.modal-header {
    background-color: #1abc9c;
}

.modal-title {
    color: #ffffff;
}

.modal-content {
    background-color: #ecf0f1;
}

.tftable {
    font-size:12px;
    color:#fbfbfb;
    width:100%;
    border-width: 1px;
    border-color: #686767;
    border-collapse: collapse;
}

.tftable th {
    font-size:12px;
    background-color:#505050;
    border-width: 1px;
    padding:8px;
    border-style:solid;
    border-color:#686767;
    text-align:left;
}

.tftable tr {
    background-color:#ADADAD;
}

.tftable td {
    font-size:12px;
    border-width: 1px;
    padding:8px;
    border-style: solid;
    border-color: #686767;
}

.tftable tr:hover {
    background-color:#818181;
}

.btn-primary {
    color: #1abc9c;
    background: #ffffff;
    border: 0px;
    border-radius: 15px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #cecece;
    color: #1abc9c;
    
}

.btn-primary:active, .btn-primary.active {
    background: #a2a0a0;
    color: #1abc9c;
    box-shadow: none;
}