body {
	background-color: #ecf0f1;
}

.container {
    padding-bottom: 5%;
}

.pageTitle {
	color: #ffffff;
	margin-top: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.titleBackground {
	background-color: #1abc9c;
}

.infolabel {
	color: #2c3e50;
}

.pager {
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-primary {
    color: #1abc9c;
    background: #ffffff;
    border: 0px;
    border-radius: 15px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #cecece;
    color: #1abc9c;

}

.btn-primary:active, .btn-primary.active {
    background: #a2a0a0;
    color: #1abc9c;
    box-shadow: none;
}